// Default navbar
.navbar {
    border-radius: 0;
    border: none;
}
.navbar-default {
    background-color: #007bb8;
    border-color: #007bb8;
    .navbar-brand {
        color: #ffffff;
        &:hover,
        &:focus {
            color: #ffffff;
            background-color: transparent;
        }
    }
    li.current-menu-item > a,
    li.active > a {
        @media (min-width: 768px) {
            border-bottom: 3px solid #ffffff;
        }
        @media (max-width: 767px) {
            border-bottom: 0;
        }
    }

    // .navbar-text {
    //     color: $navbar-default-color;
    // }

    .navbar-nav {
        > li > a,
        > .active > a {
            color: rgba( 255, 255, 255, 0.75 );
            &:hover,
            &:focus {
                color: rgba( 255, 255, 255, 1 );
            }
        }
        > li.current-menu-item > a {
            color: rgba( 255, 255, 255, 1 );
        }
    //     > .disabled > a {
    //         &,
    //         &:hover,
    //         &:focus {
    //             color: $navbar-default-link-disabled-color;
    //             background-color: $navbar-default-link-disabled-bg;
    //         }
    //     }
    }

    .navbar-toggle {
        border-color: transparent;
        &:hover,
        &:focus {
            background-color: #ffffff;
            .icon-bar {
                background-color: #007bb8;
            }
        }
        .icon-bar {
            background-color: #ffffff;
        }
        border-radius: 1px;
    }

    // .navbar-collapse,
    // .navbar-form {
    //     border-color: $navbar-default-border;
    // }

    // Dropdown menu items
    // .navbar-nav {
    //     // Remove background color from open dropdown
    //     > .open > a {
    //         &,
    //         &:hover,
    //         &:focus {
    //             background-color: $navbar-default-link-active-bg;
    //             color: $navbar-default-link-active-color;
    //         }
    //     }
    //     @media (max-width: $grid-float-breakpoint-max) {
    //         // Dropdowns get custom display when collapsed
    //         .open .dropdown-menu {
    //             > li > a {
    //                 color: $navbar-default-link-color;
    //                 &:hover,
    //                 &:focus {
    //                     color: $navbar-default-link-hover-color;
    //                     background-color: $navbar-default-link-hover-bg;
    //                 }
    //             }
    //             > .active > a {
    //                 &,
    //                 &:hover,
    //                 &:focus {
    //                     color: $navbar-default-link-active-color;
    //                     background-color: $navbar-default-link-active-bg;
    //                 }
    //             }
    //             > .disabled > a {
    //                 &,
    //                 &:hover,
    //                 &:focus {
    //                     color: $navbar-default-link-disabled-color;
    //                     background-color: $navbar-default-link-disabled-bg;
    //                 }
    //             }
    //         }
    //     }
    // }


    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    // .navbar-link {
    //     color: $navbar-default-link-color;
    //     &:hover {
    //         color: $navbar-default-link-hover-color;
    //     }
    // }

    // .btn-link {
    //     color: $navbar-default-link-color;
    //     &:hover,
    //     &:focus {
    //         color: $navbar-default-link-hover-color;
    //     }
    //     &[disabled],
    //     fieldset[disabled] & {
    //         &:hover,
    //         &:focus {
    //             color: $navbar-default-link-disabled-color;
    //         }
    //     }
    // }
}
footer.footer-area {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
    margin-top: 30px;
    font-style: italic;
}
.mst-title {
    a {
        color: #606060;
        &:focus,
        &:hover {
            color: #337ab7;
            text-decoration: none;
        }
    }
}
.post-list {
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#post-container {
    .post-list {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        &:last-of-type {
            border-bottom: none;
        }
    }
}